{% load static from static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles1.css' %}">
    <title>Your Webpage</title>
</head>
<body>
    <header>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav class="slide-down-menu">
            <ul>
            </ul>
        </nav>
    </header>
    <div class="container">
        <img class="logo" src="{% static 'logo_large.png' %}" alt="Logo">
        <div class="buttons">
            <button><a href="{% url 'user_login' %}">STAFF LOGIN</a></button>
            <button><a href="{% url 'hod_login' %}">HOD LOGIN</a></button>
            <button>HR LOGIN</button>
        </div>
    </div>
    <script src="script.js"></script> 
</body>
</html>
