{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header>
    </header>
    <div class="container">
        <img class="logo" src="{% static 'Uec Logo 2.png' %}" alt="Logo">
        <p>Select your post to <a href="#" onclick="location.reload(); return false;">SignIn</a></p>
        <div class="buttons">
            <button><a href="{% url 'user_login' %}">STAFF LOGIN</a></button>
            <button><a href="{% url 'hod_login' %}">HOD LOGIN</a></button>
            <button><a href="{% url 'hr_login' %}">HR LOGIN</a></button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
