{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>New Application</title>
</head>
<body>
    <header>
        <button class="button-back" onclick="backFunction()">Back</button>
        <button class="button1" onclick="signoutFunction()">Signout</button>
    </header>
    <div class="container">
        <div class="signin">
            <p>Leave Application</p>
        </div>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="inputBx">
                <input type="text" name="employee_id" value="{{detail.employee_id}}" required="">
                <label alt='Employee ID' placeholder='Employee ID' ></label>
            </div>

            <div class="inputBx">
                <input type="text" name="staff_name" value="{{detail.name}}" required>
                <label alt='Staff Name' placeholder='Staff Name'></label>
            </div>

            <div class="inputBx">
                <input type="text" name="department" value="{{detail.department}}" required="">
                <label alt='Department' placeholder='Department'></label>
            </div>
            <div class="inputBx">
                <div class="select-box">
                    <select name="leave_type" required="">
                        <option value="">Select Leave Type</option>
                        <option value="CL1">CL1</option>
                        <option value="CL2">CL2</option>
                        <option value="ML">ML</option>
                        <option value="VL">VL</option>
                        <option value="COMP_OFF">COMP_OFF</option>
                        <option value="DL">DL</option>
                        <option value="LoP">LoP</option>
                    </select>
                </div>
                <label alt='Leave Type' placeholder='Leave Type'></label>
            </div>

            <div class="inputBx">
                <input type="text" name="leaveDays" required="">
                <label alt='Number of Days' placeholder='Number of Days'></label>
            </div>

            <div class="inputBx">
                <input type="date" name="leave_from" required="">
                <label alt='Leave From' placeholder='Leave From'></label>
            </div>

            
            <div class="inputBx">
                <input type="text" name="reason" required="">
                <label alt='Reason for Leave' placeholder='Reason for Leave'></label>
            </div>

             <div class="inputBx">
                <div class="select-box">
                    <select name="leave_approval" required="">
                        <option value="">Linways Assigned</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
                <label alt='Leave Approval' placeholder='Leave Approval'></label>
            </div>

            <div class="submit">
                <button type="submit">Next Page</button>
            </div>
        </form>
    </div>
    <script>

function backFunction()
        {
            window.location.href="{% url 'profile' %}"
        }

        function signoutFucntion()
        {
            window.location.href="{% url 'signout' %}"
        }
        
    </script>
</body>
</html>
