{% load static from static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Leave Status</title>
    
</head>
<body>
    <header>
        <button class="button-back" onclick="goBack()">Back</button>
    </header>

    <div class="container">
        <h2>Leave Applications</h2>
    <div class="profile-info">
        <div>
            STAFF NAME: <strong>{{ status_of_approved_application.0.employee_id }}</strong>
        </div>
    </div>
    <!-- Leave Details Table -->
    <br><br>
    <table>
        <tr>
            <th>Leave Type</th>
            <th>Number of Days</th>
            <th>Start Date</th>
            <th>Time of Request</th>
            <th>Status</th>
            
        </tr>

        {% if pending_applications %}
        {% for i in pending_applications %}
           
                <tr>
                    <td>{{i.nature_of_leave}}</td>
                    <td>{{i.no_of_days}}</td>
                    <td>{{i.leave_from}}</td>
                    <td>{{i.time_of_request}}</td>
                    <td >{{ i.status_of_request }}</td>
                    
                </tr>
        
        {% endfor %}
    {% endif %}


        {% if status_of_approved_application %}
        {% for i in status_of_approved_application %}
            
                <tr>
                    <td>{{i.nature_of_leave}}</td>
                    <td>{{i.no_of_days}}</td>
                    <td>{{i.leave_from}}</td>
                    <td>{{i.time_of_request}}</td>
                    {% if i.status_of_request == 'APPROVED' %}
                    <td style="color: green;">{{ i.status_of_request }}</td>
                    {% else %}
                    <td style="color: red;">{{ i.status_of_request }}</td>
                    {% endif %}
                </tr>
                </tr>
           
            
        {% endfor %}
    {% endif %}
    
    
        <!-- Add more rows as needed -->
    <script src="script.js">
    
        function goBack()
        {
            windows.location.href = "{% url 'profile' %}";
        }

    </script>
</body>
</html>
