{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SignIn</title>
    <style>
        .loading-animation {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
        .loading-animation img {
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<body>
    <header>
        <button class="button-back" onclick="goHome()">Back</button>
    </header>
    <div class="container">
        <img class="logo2" src="{% static 'Uec Logo 2.png' %}" alt="Logo">
        <p>Upload the Duty Leave Certificate here</p>
        <div style="border: 2px dotted #ccc; padding: 20px; border-radius: 5px; background-color: #e5e5e5;"> 
            <form method="post" enctype="multipart/form-data" id="uploadForm">
                {% csrf_token %}
                <div class="inputBx">
                    
                <div class="select-box">
                    <select name="leave_from" required="">
                        <option value="">Select Date</option>
                        {% for i in application %}
                        <option value="{{i.leave_from}}">{{i.leave_from}}</option>
                        {% endfor %}
                    </select>
                </div>



                    <input type="file" name="pdffile" id="file-upload" class="file-upload" accept="application/pdf">
                    <label for="file-upload">Choose File</label>
                </div>
                <div class="submit">
                    <button type="submit">Upload File</button>
                </div>
            </form>
        </div>
    </div>
    <div class="info-text">
        Upload file in .pdf format.
   </div>
   <div id="loading-animation" class="loading-animation">
        <img src="{% static 'loadin.gif' %}" alt="Loading..." />
    </div>
    <script>
        function goHome() {
            window.history.back();
        }
        document.getElementById('uploadForm').addEventListener('submit', function() {
            document.getElementById('loading-animation').style.display = 'block';
        });
    </script>
</body>
</html>

