{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <title>Home</title>
</head>
<body>
    <header>
        <button class="button-back" onclick="signoutFunction()">Signout</button>
    </header>
    <div class="container">
        <img class="logo" src="{% static 'Uec Logo 2.png' %}" alt="Logo">
        <p>Welcome </p>
        <div class="buttons">
            <button><a onclick="showStaffs()" href="{% url 'hod_staff' %}">Show All Staffs</a></button>
            <button><a onclick="showLeaveRequests()">Show Leave Requests</a></button>
        </div>
    </div>
    <script>
        function signoutFunction(){
            window.location.href="{% url 'homepage' %}";
        }

        function showLeaveRequests(){
            window.location.href="{% url 'leave_request' %}"
        }
    </script>
</body>
</html>
