 {% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Approval System</title>
    <link rel="stylesheet" href="{% static 'stylesreq.css' %}">
</head>
<body>

<header>
    <strong><a href="#" class="active">Home</a>
    </strong>
    <strong><a href="#" class="active">Logout</a>
</header>

<div class="content-container">
    <div class="leave-container">
        <div class="leave-heading">New Leave Request</div>

        {% for leave_application in leave_applications %}
            <div class="leave-request" onclick="toggleDetails(this)">
                <div>
                    Name: <strong>{{ leave_application.name }}</strong>
                    <p>Reason: {{ leave_application.reason}}</p>
                    <p>Type: {{ leave_application.nature_of_leave }}</p>
                </div>
            </div>
        {% endfor %}


        <!-- Add more leave requests here -->
    </div>

    <div class="leave-details">
        <p><strong >Name:</strong> John Doe</p>
        <p><strong>Branch:</strong> XYZ Branch</p>
        <p><strong>Designation:</strong> Manager</p>
        <p><strong>Reason for Leave:</strong> Family vacation</p>
        <p><strong>Leave Type:</strong> Paid Leave</p>
        <p><strong>Time of Request:</strong> 2023-10-15 10:30 AM</p>
        <button class="approve-btn" onclick="approveRequest()">Approve</button>
        <button class="reject-btn" onclick="rejectRequest()">Reject</button>
        <button class="profile-btn" onclick="profile()">View Profile</button>
    </div>
</div>

<script>





function toggleDetails(request) {
    const details = document.querySelector('.leave-details');
    const leaveName = request.querySelector('strong').innerText;
    const leaveReason = request.querySelector('p:nth-child(2)').innerText;
    const leaveType = request.querySelector('p:nth-child(3)').innerText;

    details.innerHTML = `
        <p><strong>Name:</strong> ${leaveName}</p>
        <p><strong>Branch:</strong> XYZ Branch</p>
        <p><strong>Designation:</strong> Manager</p>
        <p><strong>Reason for Leave:</strong> ${leaveReason.slice(8)}</p>
        <p><strong>Leave Type:</strong> ${leaveType.slice(6)}</p>
        <p><strong>Time of Request:</strong> 2023-10-15 10:30 AM</p>
        <button class="approve-btn" onclick="approveRequest()">Approve</button>
        <button class="reject-btn" onclick="rejectRequest()">Reject</button>
    `;

    details.style.display = 'block';
}

function approveRequest() {
    alert('Request Approved');
}

function rejectRequest() {
    alert('Request Rejected');
}

function logout() {
    alert('Logout');
    // Implement your logout logic here
}




</script>

</body>
</html>
