{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'styles.css'%}">
</head>
<body>
    <header>
        <ul class="navbar">
            <strong><a href="#" class="active">Home</a>
            </strong>
        </ul>
    </header>
     <section>
        <div class="imgBx">
            <img src="{% static 'college.jpg'%}">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>HOD Login</h2>
                <div><span></span></div>
                <form method = 'post'>
                {% if messages %}
                    <div class="messages">
                    {% for message in messages %}
                        <p style="color: red; text-align: center;" class="error">{{ message }}</p>
                    {% endfor %}
                    </div>
                {% endif %} 

                    {% csrf_token %}
                    <div class="inputBx">
                        <span>Username</span>
                        <input type="text" name="username" required>
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="password" required>
                    </div>

                    <div class="inputBx">
                        <input type="submit" value="Login" name="">
                    </div>
                </form>
            </div>
        </div>
     </section>
</body>
</html>