{% load static from static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'Uec Logo 2.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>SignIn</title>
</head>
<body>
    <header>
        <button class="button-back">Back</button>
    </header>
    <div class="container">
        <img class="logo2" src="{% static 'Uec Logo 2.png' %}" alt="Logo">
        <div class="signin">
            <p>Sign In</p>
        </div>
        <p>Use your account</p>
        <form method='post'>

        {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <p style="color: red; text-align: center;" class="error">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}

        {% csrf_token %}
            <div class="inputBx">
                <input type="text" name="username" required>
                <label alt='Employee Id' placeholder='Employee Id'></label>
            </div>
            <div class="inputBx">
                <input type="password" name="password" required>
                <label alt='Password' placeholder='Password'></label>
            </div>
            <div class="forgot">
                <a href="#" onclick="location.reload(); return false;">Forgot?</a>
            </div> 
            <div class="submit">
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>
